:root{
    --blue: #4285F4;
    --green: #0F9D58;
    --red : #DB4437;
    --yellow : #F4B400;
    --darkblue : #01243d;
}
html{
    font-size: 10px;
}
main{
    margin: 0;
    padding: 0;
}
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
/* header */
.main_page{
    height: 100vh;
    margin: 0;
    padding: 0;
    transition: linear;
    transition-duration: 3s;
    transition-delay: 1s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    background-image: url("../files/bgg.jpg");
}
.main_page_darker{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
header{
    width: 100%;
    height: 10vh;
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
a{
    list-style: none;
    text-decoration: none;
    color: white;
}
.left_navbar{
    font-size: 2.5rem;
}
.left_a{
    color: white;
}
.right_bar{
    font-size: 2rem;
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.right_bar a{
    padding: 2px;
    border-bottom: 2px solid transparent;
}
.right_bar a:hover{
    border-bottom: 2px solid #4285F4;
    color: #4285F4;
}
.progress-container {
    margin-top: 14px;
    width: 100%;
    height: 5px;
    background: #ccc;
  }
  
  .progress-bar {
    height: 5px;
    width: 0%;
    background: linear-gradient(90deg, rgba(66,133,244,1) 0%, rgba(15,157,88,1) 33%, rgba(219,68,55,1) 66%, rgba(244,180,0,1) 89%);
}


/* main */
.main_content{
    padding: 0;
    margin: 0;
    z-index: 100;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.content_header{
    padding: 0;
    margin: 0;
    z-index: 100;
    font-size: 5rem;
    background-color: rgb(66,133,244);
    background-image: linear-gradient(90deg, rgba(66,133,244,1) 0%, rgba(15,157,88,1) 33%, rgba(219,68,55,1) 66%, rgba(244,180,0,1) 89%);
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.typewriting{
    margin: 20px 0;
    z-index: 100;
    font-size: 3rem;
}
.main_content a{
    z-index: 100;
}
.contactBtn{
    z-index: 100;
    height: 50px;
    width: 200px;
    margin-top: 20px;
    background-color: var(--darkblue);
    border: 1px solid var(--darkblue);
    border-radius: 50px;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 1px;
}
.contactBtn:hover{
    background-color: var(--blue);
    border: 1px solid var(--blue);
}
/* services */
.services{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #e8e8e8;;
    justify-content: center;
}
.from{
    font-weight: 700;
}
.from i{
    color: turquoise;
}
.services h1{
    font-size: 4rem;
    font-weight: 700;
}
.products_main{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.services .products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.products .product{
    height: 400px;
    width: 350px;
    margin: 15px;
    color: #fff;
    border-radius: 2.5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all;
    transition-duration: 1s;
}
.product:hover{
    scale: 1.1;
}
.product1{
    background-color: var(--green);
}
.product2{
    background-color: var(--darkblue);
}
.product3{
    background-color: var(--yellow);
}
.product4{
    background-color: var(--blue);
}
.product5{
    background-color: var(--red);
}
.product4 .pro_header{
    width: 56.5%;
    margin-left: 10px;
}  
.product1 .contactBtn2{
    margin-top: 50px;
}
.product2 .contactBtn2{
    margin-top: 77.5px;
}
.product3 .contactBtn2{
    margin-top: 25px;
}
.product4 .contactBtn2{
    margin-top: 45px;
}
.product5 .contactBtn2{
    margin-top: 20px;
}
.product4 .pro_header{
    width: 56.5%;
    margin-left: 10px;
}   
.product4 .pro_header{
    
}   
.pro_header{
    font-size: 2.5rem;
    width: 50%;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}
.pro_ul{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
}
.pro_ul li{
    list-style: none;
    font-size: 1.6rem;
    margin-top: 5px;
}
li i{
    margin-right: 5px;
}
.contactBtn2{
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #fff;
    border: #fff;
    border-radius: 10px;
}
.product1 .contactBtn2:hover{
    background-color: var(--darkblue);
    color: #fff;
}
.product2 .contactBtn2:hover{
    background-color: var(--blue);
    color: #fff;
}
.product3 .contactBtn2:hover{
    background-color: var(--darkblue);
    color: #fff;
}
.product4 .contactBtn2:hover{
    background-color: var(--darkblue);
    color: #fff;
}
.product5 .contactBtn2:hover{
    background-color: var(--darkblue);
    color: #fff;
}
/* targets */
.targets{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #01243d;
    height: 75vh;
    width: 100%;
}
.targets_div{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 80%;
}
.targets h1{
    font-size: 3.2rem;
    color: #f0f0f0;
    font-weight: 700;
}
.targets_content{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    width: 100%;
}
.target{
    width: 20%;
    margin-left: 20px;
    overflow: hidden;
}
.target .img{
    overflow: hidden;   
}
.big_target{
    height: 350px;
}
.sm_target{
    height: 320px;
}

.target img{
    height: 175px;
    width: 100%;
    border: none;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    
}
.target:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
.target:hover .target_write{
    background-color: #4285F4;
    color: #e8e8e8;
    border: none;
}
.target:hover .target_write i{
    background-color: #4285F4;
    color: #e8e8e8;
    border: none;
}
.sm_target img{
    height: 175px;
}
.target_write{
    height: 175px;
    background-color: #e8e8e8;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.sm_target .target_write{
    height: 145px;
}
.target_head{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 75%;
    height: 20%;
    margin-top: 10px;
    font-size: 2rem;
}
.target_font{
    font-size: 2.6rem;
    color: #4285F4;
}
.target_header{
    margin-left: 10px;
    font-weight: 700;
}
.target_exp{
    margin-top: 15px;
    width: 80%;
    font-size: 1.4rem;
}
.targetContact{
    width: 20%;
    border: 1px solid white;
    margin-left: 20px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.targetContact:hover{
    border: 1px solid #4285F4;
}
.target_con_write{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 60%;
}
.target_con_header{
    color: #e8e8e8;
    font-size: 2.5rem;
    font-weight: 700;
} 
.contactBtn3{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    font-size: 1.6rem;
    border: none;
    background-color: #4285F4;
    color: #e8e8e8;
    cursor: pointer;
}
.contactBtn3:hover{
    scale: .98;
    background-color: #4285F4;
}
/* features */
.features{
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8e8e8;
}
.features_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60%;
    width: 90%;
}
.features_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature{
    width: 20%;
}
.features h1{
    font-size: 3.2rem;
}
.feature_font{
    font-size: 4.5rem;
    color: #4285F4;
}
.feature_font img{
    width: 100%;
}
.feature_header{
    font-size: 2.4rem;
    margin-top: 10px;
    font-weight: 600;
}
.feature_content{
    font-size: 1.6rem;
    margin-top: 10px;
}
/* footer */
.footer {
    position: relative;
    margin-top: 50px;
    width: 100%;
    background: #4285F4;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
 